# Database
DATABASE_URL="postgresql://postgres:123456Teste@db.hmhjmpxsoaoacuntiwtq.supabase.co:5432/postgres"

# JWT
JWT_SECRET="planner-pro-super-secret-jwt-key-2024"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# CORS
CORS_ORIGIN="https://planner-p0cw8rgqx-sobreiras-projects.vercel.app"

# Server
PORT=3000
NODE_ENV=production
